{% extends "base.html" %} {% block content %}
<h1>Welcome to AQ Tweet App</h1>
<a href="" class="btn btn-outline-light mb-2"> Create Tweet </a>

<div class="container row gap-3">

  {% for tweet in tweets %}
  <img src="{{tweet.photo.url}}" alt="img" srcset="" />
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{tweet.user.username}}</h4>

      <p class="card-text">{{ tweet.tweet }}</p>
      <a href="#" class="card-link btn btn-success">Card link</a>

    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
